.text{
    color: #C5C3C0;
}

.search{
    max-width: 30%;
}

@media (max-width:992px) {
    .search{
        max-width: 100%;
    }
}

.header{
    background-color: #2e3136;
}
.item:hover{
    color: rgb(0, 242, 255);
}
.navbar-toggler-icon {
    background-color: white; /* Or any color */
  }

  .parent-container{
    position: relative;
  }
  .child-container{
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 999;
  }